/* ---- CENTRAGE DU BLOC ---- */
.first-entry.home-info {
    text-align: center;
}

.first-entry.home-info .entry-content {
    justify-content: center;
}

/* ---- AGRANDISSEMENT DU TITRE / DESCRIPTION ---- */
.first-entry.home-info h1 {
    font-size: 3.2rem;   /* taille de police */
    font-weight: 500;    /* épaisseur de police */
    margin-bottom: 1rem; /* espace sous texte */
}

.first-entry.home-info .entry-content {
    font-size: 1.2rem;  /* taille de police */
    line-height: 1.6;   /* interligne */
}


/* ---- COULEURS ---- */

/* ---- Mode auto : thème clair système ---- */
/* Couleur utilisée lorsque le navigateur/système est en thème clair */
:root {
    --accent: rgb(52, 109, 122);
}

/* ---- Mode auto : thème sombre système ---- */
/* Override automatique lorsque le système préfère le thème sombre */
@media (prefers-color-scheme: dark) {
    :root {
        --accent: rgb(108, 170, 184);
    }
}

/* ---- Switch manuel papermod : thème clair ---- */
/* Prioritaire lorsque l'utilisateur force explicitement le thème clair */
html[data-theme="light"] {
    --accent: rgb(52, 109, 122);
}

/* ---- Switch manuel papermod : thème sombre ---- */
/* Prioritaire lorsque l'utilisateur force explicitement le thème sombre */
html[data-theme="dark"] {
    --accent: rgb(108, 170, 184);
}


/* ---- APPLICATION DES COULEURS ---- */

/* Liens */
a {
    color: var(--accent);
}

/* Hover du menu */
.logo a:hover,
#menu a:hover {
    color: var(--accent);
}

/* Titre hero */
.first-entry .entry-header h1 {
    color: var(--accent);
}

/* Tags */
.post-tags a:hover {
    background: var(--accent);
}

/* CONFIGURATION DE LA TOC */
@media (min-width: 1400px) {

    .toc {
        position: fixed;
        right: 40px;
        top: 120px;

        width: 260px;
        max-height: 70vh;
        overflow-y: auto;

        padding: 1rem;

        border: 1px solid var(--border);
        border-radius: var(--radius);

        background: var(--theme);

        font-size: 0.9rem;
    }

    .post-content {
        max-width: 850px;
    }
}
