/* Site colors */
body {
  background-color: #f5f5f5;
}

.dark body {
  background-color: #1d1e20;
}

.brand-accent {
  color: rgb(var(--color-primary-600));
}

.dark .brand-accent {
  color: rgb(var(--color-primary-400));
}

/* Header site title */
.main-menu > a:first-child {
  color: rgb(var(--color-primary-600));
  font-size: 1.35rem;
  font-weight: 600;
}

.dark .main-menu > a:first-child {
  color: rgb(var(--color-primary-400));
}

/* Articles width */
.article-content {
  max-width: min(100%, 80ch) !important;
}

/* Lists */
.prose ul {
    list-style-type: disc;
}

.prose ul ul {
    list-style-type: circle;
}

.prose ul ul ul {
    list-style-type: square;
}
