:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    238,239,240;
--color-neutral-200:    197,202,205;
--color-neutral-300:    156,165,169;
--color-neutral-400:    116,127,133;
--color-neutral-500:    80,88,92;
--color-neutral-600:    61,67,70;
--color-neutral-700:    42,46,48;
--color-neutral-800:    23,25,27;
--color-neutral-900:    4,5,5;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    210,231,236;
--color-primary-300:    156,202,213;
--color-primary-400:    102,173,191;
--color-primary-500:    64,135,152;
--color-primary-600:    52,110,123;
--color-primary-700:    40,84,95;
--color-primary-800:    28,59,66;
--color-primary-900:    16,33,37;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    233,219,234;
--color-secondary-400:    204,172,205;
--color-secondary-500:    174,124,176;
--color-secondary-600:    158,99,161;
--color-secondary-700:    134,82,136;
--color-secondary-800:    109,67,111;
--color-secondary-900:    84,51,85;
}